.reviews {
    &-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px 20px;
        margin-bottom: 85px;
        @include smobile {
            grid-template-columns: 1fr;
            grid-gap: 30px;
            margin-bottom: 30px;
        }
    }
    &-item {
        &__top {
            display: grid;
            grid-template-columns: 154px 1fr;
            grid-column-gap: 20px;
            @include smobile {
                grid-template-columns: 137px 1fr;
                grid-column-gap: 15px;
            }
        }
        &__name {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 154px;
            @include smobile {
                min-height: 137px;
            }
            &--name {
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 1.2;
                color: $color-default;
                word-break: break-word;
                @include smobile {
                    font-size: 20px;
                }
            }
            &--jobs {
                margin-top: 10px;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.2;
                color: $color-default;
                word-break: break-word;
                @include mobile {
                    font-size: 14px;
                }
            }
        }
        &__img {
            width: 154px;
            height: 154px;
            overflow: hidden;
            border-radius: 5px;
            @include smobile {
                width: 137px;
                height: 137px;
            }
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &__bottom {
            margin-top: 30px;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $color-default;
            @include smobile {
                margin-top: 23px;
                font-size: 14px;
                line-height: 1.2;
            }
        }
    }
    &-form {
        &__title {
            position: relative;
            padding-right: 60%;
            margin-bottom: 40px;
            font-weight: 900;
            font-size: 35px;
            line-height: 1.2;
            color: $color-default;
            @include smobile {
                margin-bottom: 20px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 60%;
                height: 10px;
                margin: auto;
                background: url('../images/icons/line.png') repeat-x center;
            }
            @include smobile {
                font-size: 22.5px;
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
        }
        &__igroup {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            margin-bottom: 40px;
            @include smobile {
                grid-template-columns: 1fr;
            }
        }
        &__bottom {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;
            @include smobile {
                grid-template-columns: 290px;
                grid-gap: 30px;
            }
        }
        &-atention {
            &__title {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: $color-black;
                margin-bottom: 25px;
                @include smobile {
                    font-size: 14px;
                    line-height: 1;
                }
            }
            &__items {
                display: inline-flex;
                flex: 0 1 auto;
            }
            &__item {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 46px;
                padding: 0 10px;
                border: 1px solid $color-grey;
                border-radius: 3px;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        &__other {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
            @include mobile {
                grid-gap: 30px;
            }
            @include smobile {
                grid-template-columns: 1fr;
            }
        }
        &__btn {
            button {
                width: 100%;
                margin-top: 20px;
                @include smobile {
                    margin-top: 30px;
                }
            }
        }
    }
}

.upload-img {
    label {
        display: inline-block;
        color: $color-black;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-decoration-line: underline;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }
}

.upload {
    &-done {
        display: none;
        font-size: 13px;
        color: $color-black;
        margin-bottom: 10px;
    }
    &-error {
        display: none;
        font-size: 14px;
        color: $color-red;
        margin-bottom: 10px;
    }
}