footer
    .container
        .footer-wrap
            .footer-top
                .footer-top__left
                    ul.footer-top-nav
                        li.footer-top-nav__list
                            a(href="#").footer-top-nav__link
                                | Химикаты предварительной обработки
                        li.footer-top-nav__list
                            a(href="#").footer-top-nav__link
                                | Красящие химикаты
                        li.footer-top-nav__list
                            a(href="#").footer-top-nav__link
                                | Отделочные химикаты
                .footer-top__right
                    .footer-top-btn
                        a(href="#" title="Название файла").btn.btn-download.btn-yellow
                            +svg("dw")
                            span Скачать каталог
                    .footer-top-number
                        ul.number
                            li
                                +svg("phoneWhite")
                                | +998 97 746 96 65
            .footer-bottom
                .footer-bottom__left
                    .footer-bottom__logo
                        +svg('logo')
                    .footer-bottom__copyright
                        | &copy; 2019  СП ООО INCO CHEMICAL <br> <span>все права защищены</span>
                .footer-bottom__right
                    .footer-bottom__address
                        | 100022, Республика Узбекистан, город Ташкент, Мирабадский район, ул. Фидокор, 32.
                    .footer-bottom__social
                        ul.social
                            li
                                a(href="#").ins
                                    +svg("ins")
                            li
                                a(href="#").tg
                                    +svg("tg")
                            li
                                a(href="#").fb
                                    +svg("fb")