.mobile-menu
    .mobile-menu-top
        ul.number
            li
                +svg("phone")
                | +998 97 746 96 65
        .mobile-menu-btn#menu
    .mobile-menu-bottom.js-menu-toggle
        .mobile-menu-bottom-wrap
            ul.social
                li
                    a(href="#").ins
                        +svg("ins")
                li
                    a(href="#").tg
                        +svg("tg")
                li
                    a(href="#").fb
                        +svg("fb")
            ul.lang
                li.active
                    a(href="#")
                        | Ru
                li
                    a(href="#")
                        | Uz
                li
                    a(href="#")
                        | En
                li
                    a(href="#")
                        | Tur
        nav
            ul
                li
                    a(href="javascript:void(0);").btn-submenu
                        span
                            | Каталог продукции
                    ul.submenu
                        li
                            a(href="#") Химикаты предварительной  обработки
                        li
                            a(href="#") Красящие химикаты
                        li
                            a(href="#") Отделочные химикаты
                li
                    a(href="javascript:void(0);").btn-submenu
                        span
                            | О компании
                    ul.submenu
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Миссия и ценности компани
                        li
                            a(href="#") Наши преимущества
                        li
                            a(href="#") Производство
                        li
                            a(href="#") Лицензии/ Сертификаты
                        li
                            a(href="#") Отзывы
                li
                    a(href="#")
                        span
                            | Новости
                li
                    a(href="#")
                        span
                            | Контакты