.popup#popup
    .popup-wrap
        span.close.js-close
        .popup-text
            | Ваш отзыв отправлен на модерацию.
            | После проверки отзыва он будет
            | размещен на сайте.