extends pug/base

append vars
    - title = 'Текстовая страница'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#03428d'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page']

block content
    include pages/header
    .content
        .container
            .crumbs
                ul
                    li
                        a(href=`/` title="На главную")
                            | Главная
                    li
                        | Текстовая страница
            .about
                .default-section
                    img(src="images/content/default.jpg", alt="Название картинки" style="margin-bottom: 50px;")
                    h1
                        | Зоголовок H1
                    p
                        | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                        | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                    h2
                        | Зоголовок H2
                    p
                        | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст
                    p
                        | необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                    h3
                        | Зоголовок H3
                    p
                        | Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. 
                    h4
                        | Зоголовок H4
                    p
                        | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                    ul
                        li
                            | Оформление маркировки текста
                        li
                            | Оформление маркировки текста
                        li
                            | Оформление маркировки текста
                        li
                            | Оформление маркировки текста
                    table
                        tr
                            th
                                | Пример оформления заголовка в таблице
                            th
                                | Пример оформления заголовка в таблице
                            th
                                | Пример оформления заголовка в таблице
                        tr
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                        tr
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                        tr
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                        tr
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                            td
                                | Пример оформления таблицы
                    b
                        | Пример оформления жирности шрифта на сайте
                    br
                    i
                        | Пример оформления курсива шрифта на сайте
                    br
                    u
                        | Пример оформления подчеркивания шрифта на сайте
                    br
                    a(href="")
                        | Пример оформления ссылки на сайте                
    include pages/footer