extends pug/base

append vars
    - title = 'Наши преимущества'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#03428d'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page']

block content
    include pages/header
    .content
        .container
            .crumbs
                ul
                    li
                        a(href=`/` title="На главную")
                            | Главная
                    li
                        | Наши преимущества
                .navigation-title
                        h1
                            | Наши преимущества
            .default-section
                p
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал.
                .advantage-items
                    - var advantage = ["Высококачественное сырье от ведущих компании Basf, Wacker и Sasol", "Продукция, произведенная по инновационным немецким технологиям", "Продукция не уступает по техническим характеристикам импортным аналогам", " Быстрый самовывоз продукций со склада", "Продукция отвечает международным стандартам качества O’z DSt ISO 9001:2015(ISO 9001:2015)", "Продукция соответствует всем требованиям санитарных норм и правил", "Продукция конкурентоспособна", "Бесплатная лаборатория и консультация"]
                    - for (var i = 0; i < 8; i++) {
                        .advantage-item
                            .advantage-item__icon
                                img(src=`images/icons/icon${i+1}.svg`)
                            .advantage-item__name
                                | #{advantage[i]}
                    - }
                h1
                    | Подзаголовок
                p
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
                    | Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал.
    include pages/footer