extends pug/base

append vars
    - title = 'Здесь будет тестовый заголовок новости'
    - meta.description = 'Описание страницы'
    - meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - link.icon = './favicon.ico'
    - meta.formatDetection = 'telephone=no'
    - meta.themeColor = '#03428d'
    - defaultLink = 'javascript:void(0);'
    - body.classList = ['inner-page']

block content
    include pages/header
    .content
        .container
            .crumbs
                ul
                    li
                        a(href=`/` title="На главную")
                            | Главная
                    li
                        a(href=`#` title="Новости")
                            | Новости
                    li
                        | Здесь будет тестовый заголовок новости
                .navigation-title
                        h1
                            | Здесь будет тестовый заголовок новости
            .news
                .default-section
                    span.date
                        | 22 июля 2019 г.
                    img(src="images/content/news-1.jpg", alt="Название картинки" style="float: left; margin-right: 20px;")
                    p
                        | Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Равным образом новая модель организационной.
                    p
                        | Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Равным образом новая модель организационной.
                    p
                        | Равным образом новая модель организационной деятельности позволяет выполнять важные задания по разработке новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение существенных финансовых и административных условий. Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Товарищи! консультация с широким активом в значительной степени обуславливает создание новых предложений.
                .news-btn
                    a(href="#").btn
                        | Вернуться назад
                .news-other
                    .news-other__title
                        | Другие новости
                    .news-items
                        - for (var i = 0; i < 1; i++) {
                            .news-item
                                a(href="#" title="Здесь будет тестовый заголовок новости в 2 строки").news-item-link
                                    .news-item-img
                                        img(src="images/content/news-1.jpg", alt="news")
                                    span.date.news-item-date
                                        | 22 июля 2019 г.
                                    .news-item-title
                                        | Здесь будет тестовый заголовок новости в 2 строки
                            .news-item
                                a(href="#" title="Здесь будет заголовок").news-item-link
                                    .news-item-img
                                        img(src="images/content/news-1.jpg", alt="news")
                                    span.date.news-item-date
                                        | 22 июля 2019 г.
                                    .news-item-title
                                        | Здесь будет заголовок
                            .news-item
                                a(href="#" title="Здесь будет тестовый заголовок новости в 2 строки").news-item-link
                                    .news-item-img
                                        img(src="images/content/news-1.jpg", alt="news")
                                    span.date.news-item-date
                                        | 22 июля 2019 г.
                                    .news-item-title
                                        | Здесь будет тестовый заголовок новости в 2 строки
                    - }
    include pages/footer