.ins {
    svg {
        width: 11.89px;
        height: 12.01px;
    }
}

.tg {
    svg {
        width: 9.84px;
        height: 9.94px;
    }
}

.fb {
    svg {
        width: 5.22px;
        height: 11.14px;
    }
}