.ins {
    svg {
        width: 11.89px;
        height: 12.01px;
    }
}

.tg {
    svg {
        width: 9.84px;
        height: 9.94px;
    }
}

.fb {
    svg {
        width: 5.22px;
        height: 11.14px;
    }
}

.uploads-icon {
    position: relative;
    margin-left: 37px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -37px;
        margin: auto;
        width: 23px;
        height: 23px;
        background: url('../images/icons/uploads.svg') no-repeat center;
    }
}

.close {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 100%;
        background: $color-white;
        transform: rotate(-45deg);
    }
    &::before {
        transform: rotate(45deg);
    }
}

.search-icon {
    border: none;
    padding: 0;
    width: 23px;
    height: 23px;
    background: url('../images/icons/search.svg') no-repeat center;
}

.back-btn {
    display: flex;
    align-items: center;
    svg {
        width: 23px;
        height: 23px;
    }
    span {
        font-weight: normal;
        font-size: 16px;
        line-height: 200%;
        text-decoration-line: underline;
        color: $color-black;
        @include smobile {
            font-size: 14px;
            line-height: 100%;
        }
    }
    &:hover {
        span {
            text-decoration-line: none;
        }
    }
}