// stylelint-disable scss/dollar-variable-empty-line-before
// COLORS
$color-default: #000;
$color-black: #2b3035;
$color-white: #fff;
$color-red: #e3000f;
$color-yellow: #ffd131;
$color-grey: #b6b6b6;
$color-blue: #03428d;
$color-gray: #f6f6f6;
$color-green: #00963f;
$color-metalic: #2b3035;
$color-bg: #f6f6f6;
//base
$base-font-size: 16px;
$desktop-size: 1024px;
$mobile-size: 1023px;
// FONTS
$fonts-gotham: 'Gotham Pro',
sans-serif;